.search_wrapper {
    background-color: $primary-color;
    height: 100vh;
    .backBtnCon {
        background-color: white;
        display: block;
        padding: 0 $p-4;
        img {
            cursor: pointer;
            transition: 0.4s ease-in-out;
            border-radius: 50%;

            &:hover {
                background-color: $lighter-primary;
            }
        }
    }
    .saved-places {
        display: flex;
        align-items: center;
        background-color: white;
        padding: $mp-2 $p-4;
        cursor: pointer;
        img {
            background-color: $darker-primary;
            width: $hw-10;
            height: $hw-10;
            padding: $mp-2;
            border-radius: 50%;
            margin-right: $mp-2;
        }
    }
    .confirmButtonContainer {
        background-color: black;
        color: white;
        text-align: center;
        margin: $mp-2 $p-4 0;
        padding: $p-3 $p-4;
        font-size: 1.25rem;
        line-height: 1.75rem;
        cursor: pointer;
        @media (min-width: 900px) {
            margin: 0;
            margin-top: $mp-2;
        }
    }
    @media (min-width: 900px) {
        padding: 70px 150px 0px;
    }
}

@import "locationInput";
