@import "config";
@import "home";
@import "search";
@import "error";
@import "confirm";
@import "login";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-overflow-scrolling: touch;
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}
.instructionArea {
    position: absolute;
    top: 4px;
    right: 4px;
    min-height: 40px;
    max-height: 250px;
    width: 60%;
    background: linear-gradient(45deg, #e5ebc6, #75cff0, #e5ebc6);
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    @include flexCol;
    header {
        display: flex;
        padding: $p-4 0;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        svg {
            width: 20px;
            margin-left: $p-4;
        }
        img {
            width: 20px;
            height: 20px;
            margin-left: 3rem;
            cursor: pointer;
        }
    }
    .instructions {
        overflow-y: scroll;
        padding: $p-4 2rem;
        p {
            margin-bottom: $mp-2;
        }
    }
    .hideInstructions {
        display: none;
    }
    @media (min-width: 900px) {
        left: 10px;
        width: 30%;
        header {
            font-size: 25px;

            svg {
                width: 25px;
            }
        }
    }
}
.switchOnDirection {
    position: absolute;
    top: 0;
    right: 0;
    @media (min-width: 900px) {
        left: 20px;
        width: 50px;
    }
}
